[submodule "metrics/submodules/30mhz-dashboard"]
	path = metrics/submodules/30mhz-dashboard
	url = https://github.com/30MHz/dashboard.30mhz.com
[submodule "metrics/submodules/svelte-material-ui"]
	path = metrics/submodules/svelte-material-ui
	url = https://github.com/hperrin/svelte-material-ui
[submodule "metrics/submodules/smelte"]
	path = metrics/submodules/smelte
	url = https://github.com/matyunya/smelte
[submodule "metrics/submodules/svelte-mui"]
	path = metrics/submodules/svelte-mui
	url = https://github.com/vikignt/svelte-mui
[submodule "metrics/submodules/material-ui"]
	path = metrics/submodules/material-ui
	url = https://github.com/mui-org/material-ui
[submodule "metrics/submodules/react-bootstrap"]
	path = metrics/submodules/react-bootstrap
	url = https://github.com/react-bootstrap/react-bootstrap
[submodule "metrics/submodules/semantic-ui-react"]
	path = metrics/submodules/semantic-ui-react
	url = https://github.com/Semantic-Org/Semantic-UI-React
[submodule "metrics/submodules/angular-material"]
	path = metrics/submodules/angular-material
	url = https://github.com/angular/components
[submodule "metrics/submodules/ng-bootstrap"]
	path = metrics/submodules/ng-bootstrap
	url = https://github.com/ng-bootstrap/ng-bootstrap
[submodule "metrics/submodules/ngx-bootstrap"]
	path = metrics/submodules/ngx-bootstrap
	url = https://github.com/valor-software/ngx-bootstrap
[submodule "metrics/submodules/wired-elements"]
	path = metrics/submodules/wired-elements
	url = https://github.com/rough-stuff/wired-elements
[submodule "metrics/submodules/clarity"]
	path = metrics/submodules/clarity
	url = https://github.com/vmware/clarity
[submodule "metrics/submodules/fast"]
	path = metrics/submodules/fast
	url = https://github.com/microsoft/fast/
