[submodule "metrics/submodules/30mhz-dashboard"]
	path = metrics/submodules/30mhz-dashboard
	url = https://github.com/30MHz/dashboard.30mhz.com
[submodule "metrics/submodules/svelte-material-ui"]
	path = metrics/submodules/svelte-material-ui
	url = https://github.com/hperrin/svelte-material-ui
[submodule "metrics/submodules/smelte"]
	path = metrics/submodules/smelte
	url = https://github.com/matyunya/smelte
