node_modules
.vscode/*
!.vscode/settings.json
metrics/temp
metrics/cache
**/__pycache__
**/*.pyc

metrics/collectors/**/demo/demo.*
metrics/collectors/**/demo/rollup.config.js
metrics/collectors/**/demo/yarn.lock
metrics/collectors/svelte/svelte-mui/demo/index.html

!metrics/collectors/svelte/smelte/demo/rollup.config.js
!metrics/collectors/react/react-bootstrap/demo/demo.html
!metrics/collectors/react/semantic-ui-react/demo/demo.html
!metrics/collectors/web-components/clarity/demo/demo.html
!metrics/collectors/web-components/fast/demo/demo.html
!metrics/collectors/multi-framework/onsen-react/demo/demo.html
!metrics/collectors/multi-framework/onsen-web-components/demo/demo.html
!metrics/collectors/multi-framework/prime-react/demo/demo.html

paper/src/main.synctex.gz
paper/src/indent.log
paper/src/**/*.cpt
paper/src/**/*.aux
paper/src/**/*.bbl
paper/src/**/*.blg
paper/src/**/*.fls
paper/src/**/*.log
paper/src/**/*.synctex
paper/src/**/*.out
paper/src/**/*.fdb_latexmk
paper/src/**/*.synctex(busy)
paper/src/**/*.brf
paper/src/**/*.nlo
paper/src/**/*.loc
paper/src/**/*.lot
paper/src/**/*.toc
paper/src/**/*.lof

yarn-error.log
