<div style="margin: 50px; margin-top: 300px">
	<div *ngIf="visibleComponent == 'Button'">
		<button *ngFor="let a of componentCount" mat-button>Content</button>
	</div>
	<div *ngIf="visibleComponent == 'Input'">
		<mat-form-field *ngFor="let a of componentCount">
			<mat-label>Label</mat-label>
			<input matInput placeholder="placeholder" />
		</mat-form-field>
	</div>
	<div *ngIf="visibleComponent == 'Switch'">
		<mat-checkbox *ngFor="let a of componentCount">Checkbox</mat-checkbox>
	</div>
</div>
